@font-face { font-family: "First Rodeo"; src: url("fonts/FirstRodeo.otf") format("opentype"); font-display: swap; }
@font-face { font-family: "Sanremo Script Rough"; src: url("fonts/SanremoScript-Rough.otf") format("opentype"); font-display: swap; }
@font-face { font-family: "Necto Mono"; src: url("fonts/NectoMono-Regular.woff2") format("woff2"); font-display: swap; }
